// bower:scss
// endbower

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.detail-container {
    width: 442px;
    display: inline-block;
}

.thumbnails-container {
    vertical-align: top;
    display: inline-block;
}

.detail-view {
    border: 1px solid #acacac;
    width: 400px;
    min-height: 400px;
    padding: 20px;

    img {
        width: 100%;
    }

    .save-button {
        background: pink;
        color: white;
        border: 1px solid red;
        font-size: 20px;
        box-shadow: inset 0 0 0 1px white;
        cursor: pointer;
        padding: 10px 30px;
        display: inline-block;
    }

    .new-button {
        background: purple;
        color: white;
        border: 1px solid green;
        font-size: 20px;
        box-shadow: inset 0 0 0 1px white;
        cursor: pointer;
        padding: 10px 30px;
        display: inline-block;
    }
}


.thumbnail {
    width: 200px;

    img {
        width: 100%;
    }
}